<label>Temperature: {{input type="number" value=event.temp}}</label>
<label>Day: {{input type="number" value=event.day}}</label>
<label>Time: {{input value=event.time}}</label>

<button {{action 'save'}}>Save</button>
<button {{action 'remove'}}>Remove</button>

{{yield}}
