[{{event.time}}]

<label>{{input type="number" value=event.temp}}°C</label>

<button {{action 'remove'}}>X</button><br>

<button {{action 'decreaseDay'}}>&lt;</button>
<button {{action 'increaseDay'}}>&gt;</button>
