{{room.label}}:

{{
  view 'select'
  content=allSchedules
  optionLabelPath='content.label'
  value=room.activeSchedule
  selection=room.activeSchedule
  prompt='No Schedule'
}}

<button {{action 'save'}}>Save</button>

Temp: {{room.temp}}

<div class="room__devices">

  {{#each room.thermostats as |device|}}

    {{device-view device=device}}

  {{/each}}

  {{#each room.relays as |device|}}

    {{device-view device=device}}

  {{/each}}

</div>
