<div class="room__icon" {{action 'toggleEdit'}}>

  {{room.label}}<br>

  {{#if allowEdits}}
  {{else}}

    {{room.temp}}°C<br>

    {{room.relayState}}

  {{/if}}

</div>

{{#if allowEdits}}

  <div class="room__devices">

    {{#each room.thermostats as |device|}}

      {{device-view device=device}}

    {{/each}}

    {{#each room.relays as |device|}}

      {{device-view device=device}}

    {{/each}}

  </div>

  {{
    view 'select'
    content=allSchedules
    optionLabelPath='content.label'
    value=room.activeSchedule
    selection=room.activeSchedule
    prompt='No Schedule'
  }}

  <button {{action 'save'}}>Save</button>

  {{#if room.activeSchedule}}

    {{schedule-edit schedule=room.activeSchedule allowEdits=true createNewEvent='createNewEvent'}}

  {{/if}}

{{/if}}
