<div class="room__icon" {{action 'toggleEdit'}} style={{iconStyle}}>

  {{room.label}}<br>

  {{#if allowEdits}}
  {{else}}

    {{room.temp}}°C<br>

    {{room.relayState}}

  {{/if}}

</div>

{{#if allowEdits}}

  <div class="room__devices">

    {{#each room.thermostats as |device|}}

      {{device-view device=device}}

    {{/each}}

    {{#each room.relays as |device|}}

      {{device-view device=device}}

    {{/each}}

  </div>

  <button {{action 'save'}}>Save</button>

  {{schedule-list list=scheduleList selectedSchedule=room.activeSchedule createNewSchedule='createNewSchedule' createNewEvent='createNewEvent'}}

{{/if}}
