{{room.label}}:

{{
  view 'select'
  content=allSchedules
  optionLabelPath='content.label'
  value=room.activeSchedule
  selection=room.activeSchedule
  prompt='No Schedule'
}}

<button {{action 'save'}}>Save</button>

<div class="room__devices">

  {{#each room.devices as |device|}}

    {{#if (is-equal device.type 'relay')}}

      {{device-view device=device}}

    {{/if}}

  {{/each}}

  {{#each room.devices as |device|}}

    {{#if (is-equal device.type 'thermostat')}}

      {{device-view device=device}}

    {{/if}}

  {{/each}}

</div>
