{{room.label}}:

{{
  view 'select'
  content=allSchedules
  optionLabelPath='content.label'
  value=room.activeSchedule
  selection=room.activeSchedule
  prompt='No Schedule'
}}

{{#each room.devices as |device|}}

  {{device-view device=device}}

{{/each}}

<button {{action 'save'}}>Save</button>

{{yield}}
