<br>

{{#if allowEdits}}

  <hr>

  <br>

 {{input value=schedule.label}}

  <button {{action 'save'}}>Save</button>
  <button {{action 'remove'}}>Remove</button>
  <button {{action 'done'}}>Done</button>

  <br><br>

  <div class="schedule__events">

    {{events-day dayLabel='Monday' day=0 events=mondayEvents scope=scope createNewEvent='createNewEvent'}}
    {{events-day dayLabel='Tuesday' day=1 events=tuesdayEvents scope=scope createNewEvent='createNewEvent'}}
    {{events-day dayLabel='Wednesday' day=2 events=wednesdayEvents scope=scope createNewEvent='createNewEvent'}}
    {{events-day dayLabel='Thursday' day=3 events=thursdayEvents scope=scope createNewEvent='createNewEvent'}}
    {{events-day dayLabel='Friday' day=4 events=fridayEvents scope=scope createNewEvent='createNewEvent'}}
    {{events-day dayLabel='Saturday' day=5 events=saturdayEvents scope=scope createNewEvent='createNewEvent'}}
    {{events-day dayLabel='Sunday' day=6 events=sundayEvents scope=scope createNewEvent='createNewEvent'}}

  </div>

  <br>

  <hr>

{{else}}

  <button {{action 'edit'}}>{{schedule.label}}</button>

{{/if}}
