<div class="schedule__icon" {{action 'onSelect'}}>

  {{schedule.label}}

</div>

{{#if allowEdits}}

  <br>

  {{#if isSettable}}

    <button {{action 'set'}}>Activate for this Room</button>

    <br><br>

  {{/if}}

  {{input type='text' value=schedule.label focus-out='save'}}

  <button {{action 'destroy'}}>Delete</button>

  <br><br>

  <div class="schedule__events">

    <div class="schedule__events__constraint"></div>

    {{events-day
      dayLabel='Monday'
      day=0
      events=mondayEvents
      scope=scope
      constraint='.schedule__events__constraint'
      createNewEvent='createNewEvent'
    }}

    {{events-day
      dayLabel='Tuesday'
      day=1
      events=tuesdayEvents
      scope=scope
      constraint='.schedule__events__constraint'
      createNewEvent='createNewEvent'
    }}

   {{events-day
      dayLabel='Wednesday'
      day=2
      events=wednesdayEvents
      scope=scope
      constraint='.schedule__events__constraint'
      createNewEvent='createNewEvent'
    }}

   {{events-day
      dayLabel='Thursday'
      day=3
      events=thursdayEvents
      scope=scope
      constraint='.schedule__events__constraint'
      createNewEvent='createNewEvent'
    }}

   {{events-day
      dayLabel='Friday'
      day=4
      events=fridayEvents
      scope=scope
      constraint='.schedule__events__constraint'
      createNewEvent='createNewEvent'
    }}

   {{events-day
      dayLabel='Saturday'
      day=5
      events=saturdayEvents
      scope=scope
      constraint='.schedule__events__constraint'
      createNewEvent='createNewEvent'
    }}

   {{events-day
      dayLabel='Sunday'
      day=6
      events=sundayEvents
      scope=scope
      constraint='.schedule__events__constraint'
      createNewEvent='createNewEvent'
    }}

  </div>

  {{#if roomList}}

    {{room-list
      list=roomList
      editedSchedule=schedule
      readOnly=true
    }}

  {{/if}}

{{/if}}
