<label>Label: {{input value=schedule.label}}</label>

<button {{action 'createNewEvent'}}>New Event</button>
<button {{action 'save'}}>Save</button>
<button {{action 'remove'}}>Remove</button>

{{#each schedule.sortedEvents as |event|}}

  {{event-edit event=event}}

{{/each}}

{{yield}}
