<label>Label: {{input value=schedule.label}}</label>

<button {{action 'createNewEvent'}}>New Event</button>
<button {{action 'save'}}>Save</button>
<button {{action 'remove'}}>Remove</button>

<div class="schedule__events">

  <div class="schedule__events__day">

    <div class="schedule__events__day__label">
      Monday
    </div>

    <div class="schedule__events__day__events">

      {{#each mondayEvents as |event|}}

        {{event-edit event=event}}

      {{/each}}

    </div>

  </div>

  <div class="schedule__events__day">

    <div class="schedule__events__day__label">
      Tuesday
    </div>

    <div class="schedule__events__day__events">

      {{#each tuesdayEvents as |event|}}

        {{event-edit event=event}}

      {{/each}}

    </div>

  </div>

  <div class="schedule__events__day">

    <div class="schedule__events__day__label">
      Wednesday
    </div>

    <div class="schedule__events__day__events">

      {{#each wednesdayEvents as |event|}}

        {{event-edit event=event}}

      {{/each}}

    </div>

  </div>

  <div class="schedule__events__day">

    <div class="schedule__events__day__label">
      Thursday
    </div>

    <div class="schedule__events__day__events">

      {{#each thursdayEvents as |event|}}

        {{event-edit event=event}}

      {{/each}}

    </div>

  </div>

  <div class="schedule__events__day">

    <div class="schedule__events__day__label">
      Friday
    </div>

    <div class="schedule__events__day__events">

      {{#each fridayEvents as |event|}}

        {{event-edit event=event}}

      {{/each}}

    </div>

  </div>

  <div class="schedule__events__day">

    <div class="schedule__events__day__label">
      Saturday
    </div>

    <div class="schedule__events__day__events">

      {{#each saturdayEvents as |event|}}

        {{event-edit event=event}}

      {{/each}}

    </div>

  </div>

  <div class="schedule__events__day">

    <div class="schedule__events__day__label">
      Sunday
    </div>

    <div class="schedule__events__day__events">

      {{#each sundayEvents as |event|}}

        {{event-edit event=event}}

      {{/each}}

    </div>

  </div>

</div>
